/.idea
/.vscode
/database
/database.tar.xz
/folder_structure.tar.xz
/arx_container/bin
/arx_container/huey
/arx_container/cache
/arx_container/postgres
/arx_container/taxonomy
/arx_container/static_root
/arx_container/folder_structure
/arx_container/*.sock
