## OpenGenomeBrowser settings
LOG_LEVEL=INFO
PROTEIN_FASTA_ENDINGS="faa"
DEFAULT_ANNOTATION_TYPE="OL"
ORTHOFINDER_ENABLED=true
CLUSTALO_ENABLED=true
IQTREE_ENABLED=true
RAXML_ENABLED=true
LOGIN_MESSAGE="Welcome to the OpenGenomeBrowser demo server!"
# LICENSE_PROXY=example.com:7777
# DB_BACKUP_ENABLED="true"
# DB_BACKUP_TIME="00:00"
# DB_BACKUP_RETENTION_DAYS=7
# DEFAULT_GENOMES_TABLE_URL="?columns=organism,identifier,taxonomy,sequencing_technology,genome_tags,organism_tags&restricted=False&contaminated=False&representative=True"


## system settings
LOG_LEVEL=INFO
DJANGO_SECRET_KEY=""  # change this!
DJANGO_ALLOWED_HOSTS="*"  # change this!
LOGIN_REQUIRED="false"
UWSGI_WORKERS=5
HUEY_WORKERS=4
# HARAKIRI=300  # time until nginx kills requests